html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img, h3 {
    padding: 2px;
    margin: 2px;
}

.nav {
    width: 15%;
    height: 100%;
    position: fixed;

    img {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Mea Culpa', cursive;;
        font-size: 24px;
    }
}

.bookshelf {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 20px;
    margin: auto;
    box-sizing: border-box;

    .book {
        position: relative;

        h3 {
            position: absolute;
            top: 50%;
            color: white;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
    }

    .book:hover {
        h3 {
            display: block;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.right {
    right: 0;
    float: right;
    justify-content: right;
}

.left {
    margin-top: 10%;
}