
.main {
    margin: 0;
    background: linear-gradient(to bottom, red, violet);
}

img, h3 {
    padding: 2px;
    margin: 2px;
}

.navleft {
    width: 15%;
    height: 100%;
    position: fixed;
    background: none;
    img {
        position: relative;
        width: 100%;
        height: 90%;
        background: none;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Mea Culpa', cursive;;
        font-size: 24px;
        color: white;
    }
}

.navright {
    width: 15%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 10%;
    background: none;
    img {
        position: relative;
        width: 100%;
        height: 90%;
        background: none;
    }

    .content {
        position: absolute;
        background: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Mea Culpa', cursive;;
        font-size: 30px;
        color: white;
    }
}

.bookshelf {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 20px;
    margin: auto;
    box-sizing: border-box;

    .book {
        position: relative;

        h3 {
            position: absolute;
            top: 50%;
            color: white;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
    }

    .book:hover {
        h3 {
            display: block;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}

.left {
    margin-top: 10%;
}