form {
    width: 100%;
    position: relative;
    padding-top: 1px;
}

input {
    width: 90%;
    margin: 10px 0;
    display: block;
    padding: 10px;
}

.input-cmt {
    height: 60px;
}

label {
    position: absolute;
    color: gray;
    opacity: 0.5;
}

.label-name {
    top: 20px;
    left: 18%;
    transition: 0.25s;
}

.label-email {
    top: 70px;
    left: 12px;
    transition: 0.25s;
}

.label-cmt {
    top: 110px;
    left: 12px;
    transition: 0.25s;
}


.input-name:not(:placeholder-shown) + .label-name, 
.input-name:focus + .label-name {
        top: 0;
        background-color: white;
        padding: 0 5px;
        color: black;
        left: 21%;
        opacity: 1;
    }

.input-email:not(:placeholder-shown) + .label-email, 
.input-email:focus + .label-email {
            top: 52px;
            background-color: white;
            padding: 0 10px;
            color: black;
            left: 21%;
            opacity: 1;
        }

.input-cmt:not(:placeholder-shown) + .label-cmt, 
.input-cmt:focus + .label-cmt {
                top: 100px;
                background-color: white;
                padding: 0 10px;
                color: black;
                left: 21%;
                opacity: 1;
            }